.footer {
    padding: 35px 0px;
    width: 100%;
    background: black;
}

.footer>.carcas {
    padding: 30px 0px;
    align-items: flex-start;

    .next {
        margin-left: 250px;
    }
    
    h3 {
        color: grey;
        font-size: 23px;
        gap: 10px;
    }

    .one {
        gap: 35px;

        img {
            cursor: pointer;
        }

        span {
            color: white;
            cursor: pointer;
            font-size: 23px;
        }

        p {
            color: grey;
            cursor: pointer;
        }

        .icons {
            gap: 10px;

            .bb {
                padding: 4px 8px;
                width: 35px;
                height: 20px;
                background: grey;
                border-radius: 3px;
                cursor: pointer;
            }
            
        }

    }

    ul {
        font-size: 19px;
        gap: 30px;

        li:nth-of-type(1) {
            color: white;
            line-height: 40px;
            cursor: pointer;
            font-size: 23px;
        }

        li {
            line-height: 40px;
            color: grey;
            cursor: pointer;
        }

    }
}