.App {
    min-height: 100vh;
    background: black;
}

body {
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    background: transparent;
    width: 20px !important;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #014E46, #3B105F);
    border-radius: 50px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

@media screen and (max-width : 1440px) {
    .carcas {
        width: 900px !important;
    }

    .header>.carcas {
        img {
            width: 150px !important;
        }

        a {
            font-size: 16px !important;
        }
    }

}

@media screen and (max-width : 1024px) {
    
    .header {
        background: black !important;
        padding: 75px 0px;
    }

    .header>.carcas {
        flex-direction: column;
        gap: 35px;

        img {
            width: 200px !important;
        }

        ul {
            flex-direction: column;

            a {
                font-size: 25px !important;
            }
        }
    }

}